@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&family=Roboto:wght@400;500;700;900&display=swap');

*{
	margin: 0;
	padding: 0;

}

body{
	font-family: 'Poppins', sans-serif;
	background-color: #3F70F5;
 

}
.form-wrapper{
	width: 400px;
	margin: 100px auto;
	background-color: white;
	padding: 32px 20px 24px 20px;
	border-radius: 12px;



}
.title{
	text-align: center;
	font-weight: 600;
	margin-bottom: 32px;

}

form input{
	display: block;
	width: 95%;
	margin-bottom: 16px;
	padding: 16px 12px;
	border: none;
	border: 1px solid #e4e4e4;
	border-radius: 6px;



}

font input::placeholder{
	color: grey;
	font-size: 16px;

}
form input:focus{
	outline-color:green;

}
form input:focus::placeholder{
	      color: green;

}
.submit-btn{
	         background-color: #0070D2;
    color: white;
    width: 100%;
    padding: 16px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    font-weight: 500;
}


.desc{
	text-align: center;
	margin: 16px 0px;

}

.fb-btn{
	margin-bottom: 20px;
	background-color: #416782;


}
.g-btn{
	background-color: transparent;
	border: 1px solid grey;
	color: #646464

}

 hr{
 	margin: 26px 0 42px 0;
 	background-color: #d7d7d7;
 	height: 1px;
 	border: none;



 }

.social-login{
	position: relative;
}

.social-login img{
	position: absolute;
	left: 10px;
	top: 10px;
	display: inline-block;

}


